[submodule "context"]
	path = project/src/github.com/gorilla/context
	url = https://github.com/gorilla/context.git
[submodule "httprouter"]
	path = project/src/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter.git
[submodule "alice"]
	path = project/src/github.com/justinas/alice
	url = https://github.com/justinas/alice.git
[submodule "mgo.v2"]
	path = project/src/gopkg.in/mgo.v2
	url = https://gopkg.in/mgo.v2.git
